* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  width: 100%;
  max-width: 1400px;
  display: block;
  margin: auto;
  min-height: 100vh;
  color: aliceblue;
  font-family: sans-serif;
}
.App-Container {
  background: url("../components/images/BG.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
}
/* NavBar Start */
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 58px;
  overflow-y: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9;
  background: #0000004b;
}

.link-group {
  list-style: none;
  display: flex;
}

.link a {
  color: aliceblue;
  opacity: 0.8;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 10px;
  margin: 0 10px;
  line-height: 80px;
  transition: all 0.5s linear;
  font-size: 20px;
}
.link .selected-link {
  color: #f0860c;
}

.link a:hover {
  opacity: 1;
}
.menu-btn {
  height: 60px;
  width: 60px;
  padding: 15px;
  margin: 10px 0px 0px 10px;
  text-align: center;
  background-color: rgba(40, 40, 40, 0.753);
  border-radius: 8px;
  display: none;
}
.links-menu {
  display: none;
}
.links-menu .link-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/*NavBar End*/

/*Home Section Start*/
.home-section {
  width: 100%;
  height: 100vh;
  padding: 150px 0px 0px 160px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.hero-heading {
  font-size: 28px;
  text-transform: capitalize;
  font-weight: 500;
}
.hero-profession {
  font-size: 40px;
  font-weight: 600;
  color: rgb(0, 140, 255);
}
.brief-Info {
  font-size: 20px;
  font-weight: 400;
}
.hero-learnMore {
  font-size: 20px;
  font-weight: 400;
}
.hero-learnMore a {
  text-decoration: none;
  color: #f0860c;
}
/*Home Section End*/

/*Projects Section*/
.project-section {
  width: 100%;
  padding: 80px 100px 100px;
  animation: projectsAnim ease-in 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}
@keyframes projectsAnim {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.project-heading {
  font-size: 70px;
  letter-spacing: 10px;
  font-weight: 1000;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 40px;
  padding-bottom: 10px;
  color: rgb(0, 140, 255);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 8px transparent;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-around;
}

.project-card {
  height: 400px;
  width: 550px;
  position: relative;
}

.project-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: 0.5s;
}

.project-content {
  position: relative;
  padding: 40px;
  color: #fff;
  transition: 0.5s;
  opacity: 0;
}

.project-title {
  font-size: 50px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 300;
}

.project-info {
  margin: 40px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.project-btn-grp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.project-btn {
  height: 40px;
  text-transform: capitalize;
  font-size: 18px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.project-btn.live {
  background: none;
  border: 2px solid #fff;
}

.project-card:hover .project-img {
  filter: blur(20px);
}

.project-card:hover .project-content {
  opacity: 1;
}
/* project-section End*/

/*Contact section Start*/
.contact-section {
  width: 70%;
  height: auto;
  padding: 65px 0px 0px 160px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.contact-section .email a {
  text-decoration: none;
  color: #f0860c;
  cursor: pointer;
}
.contact-section h1 {
  font-size: 64px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(0, 140, 255);
}
.contact-section p {
  font-size: 18px;
  margin-bottom: 15px;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  margin-bottom: 30px;
  border-radius: 10px;
  text-transform: capitalize;
  color: #fff;
  padding: 5px 10px;
}

::placeholder {
  color: #fff;
}

#msg {
  height: 100px;
  font-family: sans-serif;
}
.form-submit-btn {
  padding: 10px;
  text-transform: capitalize;
  font-size: 1rem;
  transition: all 0.3s linear;
  background-color: rgb(40, 40, 40);
  border: 1.5px solid rgb(40, 40, 40);
  text-align: left;
  color: #f0860c;
  cursor: pointer;
  border-radius: 0.2rem;
}
.form-submit-btn:hover {
  background-color: rgb(100, 100, 100);
  border: 1.5px solid rgb(20, 20, 20);
  color: rgb(20, 20, 20);
}
/*Contact section end*/

/*About Section */
.about-section {
  width: 100%;
  padding: 90px 490px 50px 160px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.about-section h2 {
  font-size: 60px;
  color: rgb(0, 140, 255);
}
.about-section p {
  font-size: 18px;
  margin-top: 10px;
  word-spacing: 3px;
  letter-spacing: 1px;
  color: aliceblue;
  opacity: 0.8;
}
.body-links a {
  text-decoration: none;
  color: #f0860c;
  font-weight: 700;
  cursor: pointer;
}
.about-routes {
  padding: 10px 10px 20px 10px;
}
/*About Section End*/

/*Blogs Section*/
.blogs-section {
  margin-top: 58px;
  width: 100%;
  height: 100vh;
  padding: 150px 0px 0px 160px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: left;
  position: relative;
  top: 0;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.blogs-section h1 {
  font-size: 64px;
  color: rgb(0, 140, 255);
}
.blogs-section h2 {
  font-size: 18px;
}
/*Blogs Section End*/

/*Page Not Found*/
.PageNotFound {
  display: grid;
  place-items: center;
  min-height: 80vh;
  font-weight: 900;
  font-size: 2rem;
  font-style: italic;
}
/*Page Not Found End*/

/* skills section start*/
.skill-section {
  margin: 100px 0;
}

.heading {
  text-align: center;
  font-size: 60px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 300;
  margin-bottom: 100px;
}

.skills-container {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  color: #fff;
}

.skill-card {
  position: relative;
}

.skill-img {
  display: block;
  margin: auto;
  height: 200px;
}

.skill-name {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  text-transform: capitalize;
  margin: 30px 0 20px;
}

.skill-info {
  text-align: center;
  opacity: 0.5;
  font-size: 18px;
  line-height: 30px;
}

.skill-level {
  position: absolute;
  top: 80px;
  right: 0;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 50%;
  border: 10px solid;
}

.skill-card:nth-child(1) .skill-level {
  background: #ff4f4f28;
  border-color: #ff4f4f;
  color: #ff4f4f;
}

.skill-card:nth-child(2) .skill-level {
  background: #4fa0ff28;
  border-color: #4fa0ff;
  color: #4fa0ff;
}

.skill-card:nth-child(3) .skill-level {
  background: #ffed4f28;
  border-color: #ffed4f;
  color: #ffed4f;
}

.skill-card:nth-child(4) .skill-level {
  background: #52ff4f28;
  border-color: #52ff4f;
  color: #52ff4f;
}

.skill-card:nth-child(5) .skill-level {
  background: #4fdfff28;
  border-color: #4fdfff;
  color: #4fdfff;
}
/* skills section end*/

/* timeline */
.timeline {
  display: block;
  width: 80%;
  margin: 150px auto;
}

.timeline .heading {
  margin-bottom: 150px;
}

.card {
  width: 45%;
  padding: 30px;
  border-radius: 10px;
  color: #fff;
  display: block;
  margin: -80px 0;
  position: relative;
  background: #f00;
}

.card:nth-child(even) {
  margin-left: auto;
}

.card:nth-child(even):before {
  content: "";
  position: absolute;
  left: -15%;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 5px solid #191919;
  border-radius: 50%;
}

.card:nth-child(even):after {
  content: "";
  position: absolute;
  left: -8.5%;
  top: 50%;
  transform: translateY(-50%);
  width: 7%;
  height: 2px;
  background: #fff;
  z-index: -1;
}

.card:nth-child(odd):before {
  content: "";
  position: absolute;
  right: -13%;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 5px solid #191919;
  border-radius: 50%;
}

.card:nth-child(odd):after {
  content: "";
  position: absolute;
  right: -8.5%;
  top: 50%;
  transform: translateY(-50%);
  width: 7%;
  height: 2px;
  background: #fff;
  z-index: -1;
}

.card:nth-child(2),
.card:nth-child(2):before {
  background: #ff4f4f;
}
.card:nth-child(3),
.card:nth-child(3):before {
  background: #ffb84f;
}
.card:nth-child(4),
.card:nth-child(4):before {
  background: #3dca5c;
}
.card:nth-child(5),
.card:nth-child(5):before {
  background: #565252;
}
.card:nth-child(6),
.card:nth-child(6):before {
  background: #4fa0ff;
}

.card:nth-child(even) .card-body:before {
  content: "";
  position: absolute;
  left: -12%;
  top: 0;
  width: 0px;
  height: 100%;
  border: 1px dashed #fff;
  z-index: -1;
}

.card-title {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
}
/* Timeline End*/

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* Responsiveness Start 0*/
@media screen and (max-width: 900px) {
  /* Nav bar Start */
  .menu-btn {
    display: block;
    position: fixed;
    z-index: 100;
  }
  .links-menu {
    display: block;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(40, 40, 40, 0.925);
    z-index: 999;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
  }
  .links-menu-active {
    transform: translateX(0%);
  }
  .navbar {
    display: none;
  }
  /* Nav bar End */

  /* Home Start */
  .home-section {
    padding: 100px 0px 0px 80px;
    gap: 20px;
  }
  /* Home End */

  /* About Start */
  .about-section {
    background-color: rgba(0, 0, 0, 0.603);
    padding: 100px 50px 50px 50px;
    gap: 10px;
  }
  .about-section h2 {
    font-size: 60px;
  }
  .about-section p {
    font-size: 18px;
    margin-top: 10px;
    word-spacing: 3px;
    letter-spacing: 1px;
    overflow: hidden;
  }
  /* About End */

  /* contact Start */
  .contact-section {
    width: 70%;
    padding: 60px 0px 0px 50px;
    gap: 10px;
    transition: 1s;
  }
  .contact-section h1 {
    font-size: 55px;
    margin-top: 10px;
    margin-bottom: 6px;
  }
  .contact-section p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .contact-form input,
  .contact-form textarea {
    height: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 5px 10px;
  }
  /* Contact End */

  /* Projects Start */
  .project-section {
    width: 100%;
    padding: 50px 50px 50px 50px;
  }

  .project-heading {
    font-size: 40px;
    letter-spacing: 10px;
    font-weight: 8000;
    margin-bottom: 40px;
    padding-bottom: 10px;
  }

  .project-container {
    gap: 20px;
  }

  .project-card {
    height: 400px;
    width: 100%;
  }

  .project-content {
    padding: 40px;
  }

  .project-title {
    font-size: 50px;
    font-weight: 300;
  }

  .project-info {
    margin: 40px;
    font-size: 20px;
    line-height: 30px;
  }

  .project-btn-grp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .project-btn {
    height: 40px;
    font-size: 18px;
  }
  /* Projects End */

  /* Blog Start */
  .blogs-section {
    margin-top: 58px;
    padding: 150px 0px 0px 50px;
    gap: 30px;
  }
  .blogs-section h1 {
    font-size: 55px;
  }
  .blogs-section h2 {
    font-size: 16px;
  }
  /* Blog End */

  /* Not Found Start */
  /* Not Found End */
}

/* Responsiveness Start 1*/
@media screen and (max-width: 600px) {
  .App-Container {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: -350px;
    min-height: 100vh;
    min-width: 100vw;
  }
  /* Nav bar Start */
  .menu-btn {
    height: 40px;
    width: 40px;
    padding: 5px;
    overflow: hidden;
    text-align: center;
    align-items: center;
    margin: 15px 0px 0px 15px;
    border-radius: 5px;
  }
  .btnMenu {
    height: 24px;
    width: 24px;
    margin: 0px auto;
  }
  /* Nav bar End */

  /* Home Start */
  .home-section {
    padding: 100px 0px 0px 40px;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.603);
  }
  .hero-heading {
    font-size: 28px;
    font-weight: 500;
  }
  .hero-profession {
    font-size: 22px;
    font-weight: 600;
  }
  .brief-Info {
    font-size: 18px;
    font-weight: 400;
  }
  .hero-learnMore {
    font-size: 18px;
    font-weight: 400;
  }
  /* Home End */

  /* About Start */
  .about-section {
    background-color: rgba(0, 0, 0, 0.719);
    padding: 60px 25px 25px 25px;
    gap: 6px;
    height: 100vh;
  }
  .about-section h2 {
    font-size: 28px;
  }
  .about-section p {
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
    line-height: 15px;
    word-spacing: 2px;
  }
  /* About End */

  /* contact Start */
  .contact-section {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.719);
    padding: 80px 20px 0px 20px;
    gap: 15px;
  }
  .contact-section h1 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 6px;
  }
  .contact-section p {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .contact-form input,
  .contact-form textarea {
    height: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 5px 10px;
  }
  .form-submit-btn {
    padding: 5px;
    font-size: 0.8rem;
    border-radius: 0.2rem;
  }
  /* Contact End */

  /* Projects Start */
  .project-section {
    width: 100%;
    padding: 50px 0px 10px 0px;
  }

  .project-heading {
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 8000;
    margin-bottom: 20px;
  }

  .project-container {
    gap: 10px;
  }

  .project-card {
    height: 200px;
    width: 100%;
    overflow: hidden;
  }

  .project-content {
    padding: 20px 20px 20px 20px;
    gap: 5px;
    opacity: 1;
  }

  .project-title {
    font-size: 24px;
    font-weight: 200;
  }

  .project-info {
    margin: 10px;
    font-size: 12px;
  }

  .project-btn-grp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .project-btn {
    height: 20px;
    font-size: 12px;
  }
  /* Projects End */

  /* Blog Start */
  .blogs-section {
    background-color: rgba(0, 0, 0, 0.719);
    margin-top: 0px;
    padding: 100px 10px 0px 10px;
    gap: 20px;
  }
  .blogs-section h1 {
    font-size: 30px;
  }
  .blogs-section h2 {
    font-size: 12px;
  }
  /* Blog End */

  /* Not Found Start */
  .PageNotFound {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.719);
    font-weight: 600;
    font-size: 1rem;
  }
  /* Not Found End */
}

/* Responsiveness Start 2*/
@media screen and (max-width: 500px) {
  .App-Container {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: -480px;
    min-height: 100vh;
    min-width: 100vw;
  }
  /* Nav bar Start */
  .menu-btn {
    height: 40px;
    width: 40px;
    padding: 5px;
    overflow: hidden;
    text-align: center;
    align-items: center;
    margin: 15px 0px 0px 15px;
    border-radius: 5px;
  }
  .btnMenu {
    height: 24px;
    width: 24px;
    margin: 0px auto;
  }
  /* Nav bar End */

  /* Home Start */
  .home-section {
    padding: 100px 0px 0px 40px;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.603);
  }
  .hero-heading {
    font-size: 28px;
    font-weight: 500;
  }
  .hero-profession {
    font-size: 22px;
    font-weight: 600;
  }
  .brief-Info {
    font-size: 18px;
    font-weight: 400;
  }
  .hero-learnMore {
    font-size: 18px;
    font-weight: 400;
  }
  /* Home End */

  /* About Start */
  .about-section {
    background-color: rgba(0, 0, 0, 0.719);
    padding: 60px 25px 25px 25px;
    gap: 6px;
    height: 100vh;
  }
  .about-section h2 {
    font-size: 28px;
  }
  .about-section p {
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
    line-height: 15px;
    word-spacing: 2px;
  }
  /* About End */

  /* contact Start */
  .contact-section {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.719);
    padding: 80px 20px 0px 20px;
    gap: 15px;
  }
  .contact-section h1 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 6px;
  }
  .contact-section p {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .contact-form input,
  .contact-form textarea {
    height: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 5px 10px;
  }
  .form-submit-btn {
    padding: 5px;
    font-size: 0.8rem;
    border-radius: 0.2rem;
  }
  /* Contact End */

  /* Projects Start */
  .project-section {
    width: 100%;
    padding: 50px 0px 10px 0px;
  }

  .project-heading {
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 8000;
    margin-bottom: 20px;
  }

  .project-container {
    gap: 10px;
  }

  .project-card {
    height: 200px;
    width: 100%;
    overflow: hidden;
  }

  .project-content {
    padding: 20px 20px 20px 20px;
    gap: 5px;
  }

  .project-title {
    font-size: 24px;
    font-weight: 200;
  }

  .project-info {
    margin: 10px;
    font-size: 12px;
  }

  .project-btn-grp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .project-btn {
    height: 20px;
    font-size: 12px;
  }
  /* Projects End */

  /* Blog Start */
  .blogs-section {
    background-color: rgba(0, 0, 0, 0.719);
    margin-top: 0px;
    padding: 100px 10px 0px 10px;
    gap: 20px;
  }
  .blogs-section h1 {
    font-size: 30px;
  }
  .blogs-section h2 {
    font-size: 12px;
  }
  /* Blog End */

  /* Not Found Start */
  .PageNotFound {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.719);
    font-weight: 600;
    font-size: 1rem;
  }
  /* Not Found End */
}

@media screen and (max-width: 411px) {
  .App-Container {
    background-position: -700px;
  }
  .about-section {
    background-color: rgba(0, 0, 0, 0.719);
    padding: 120px 25px 25px 25px;
    gap: 15px;
    height: 100vh;
  }
  .about-section h2 {
    font-size: 28px;
  }
  .about-section p {
    font-size: 18px;
    margin-top: 10px;
    word-spacing: 2px;
  }

  .contact-section {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.719);
    padding: 80px 20px 0px 20px;
    gap: 30px;
  }
  .contact-section h1 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 6px;
  }
  .contact-section p {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .contact-form input,
  .contact-form textarea {
    height: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 5px 10px;
  }
  .about-section {
    padding: 80px 15px 25px 15px;
    gap: 10px;
    height: 100vh;
  }
  .about-section h2 {
    font-size: 25px;
  }
  .about-section p {
    font-size: 15px;
    margin-top: 10px;
    word-spacing: 1px;
  }
}

/* Responsiveness Start 3*/
@media screen and (max-width: 375px) {
  .App-Container {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: -500px;
    min-height: 100vh;
    min-width: 100vw;
  }
  /* Nav bar Start */
  .menu-btn {
    height: 30px;
    width: 30px;
    padding: 5px;
    overflow: hidden;
    text-align: center;
    align-items: center;
    margin: 15px 0px 0px 15px;
    border-radius: 5px;
  }
  .btnMenu {
    height: 20px;
    width: 20px;
    margin: 0px auto;
  }
  /* Nav bar End */

  /* Home Start */
  .home-section {
    padding: 100px 20px 0px 20px;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.603);
  }
  .hero-heading {
    font-size: 24px;
    font-weight: 500;
  }
  .hero-profession {
    font-size: 20px;
    font-weight: 600;
  }
  .brief-Info {
    font-size: 13px;
    font-weight: 400;
  }
  .hero-learnMore {
    font-size: 15px;
    font-weight: 400;
  }
  /* Home End */

  /* About Start */
  .about-section {
    background-color: rgba(0, 0, 0, 0.719);
    padding: 80px 15px 25px 15px;
    gap: 10px;
    height: 100vh;
  }
  .about-section h2 {
    font-size: 25px;
  }
  .about-section p {
    font-size: 16px;
    margin-top: 10px;
    word-spacing: 2px;
  }
  /* About End */

  /* contact Start */
  .contact-section {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.719);
    padding: 80px 20px 0px 20px;
    gap: 15px;
  }
  .contact-section h1 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 6px;
  }
  .contact-section p {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .contact-form input,
  .contact-form textarea {
    height: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 5px 10px;
  }
  .form-submit-btn {
    padding: 5px;
    font-size: 0.8rem;
    border-radius: 0.2rem;
  }
  /* Contact End */

  /* Projects Start */
  .project-section {
    width: 100%;
    padding: 50px 0px 10px 0px;
  }

  .project-heading {
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 8000;
    margin-bottom: 20px;
  }

  .project-container {
    gap: 10px;
  }

  .project-card {
    height: 200px;
    width: 100%;
    overflow: hidden;
  }

  .project-content {
    padding: 20px 20px 20px 20px;
    gap: 5px;
  }

  .project-title {
    font-size: 24px;
    font-weight: 200;
  }

  .project-info {
    margin: 10px;
    font-size: 12px;
  }

  .project-btn-grp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .project-btn {
    height: 20px;
    font-size: 12px;
  }
  /* Projects End */

  /* Blog Start */
  .blogs-section {
    background-color: rgba(0, 0, 0, 0.719);
    margin-top: 0px;
    padding: 100px 10px 0px 10px;
    gap: 20px;
  }
  .blogs-section h1 {
    font-size: 30px;
  }
  .blogs-section h2 {
    font-size: 12px;
  }
  /* Blog End */

  /* Not Found Start */
  .PageNotFound {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.719);
    font-weight: 600;
    font-size: 1rem;
  }
  /* Not Found End */
}

@media screen and (max-width: 360px) {
  .App-Container {
    background-position: -640px;
  }
  .about-section {
    padding: 80px 15px 25px 15px;
    gap: 10px;
    height: 100vh;
  }
  .about-section h2 {
    font-size: 25px;
  }
  .about-section p {
    font-size: 15px;
    margin-top: 10px;
    word-spacing: 1px;
  }
}

/* Responsiveness Start 4*/
@media screen and (max-width: 320px) {
  .App-Container {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: -530px;
    min-height: 100vh;
    min-width: 100vw;
  }
  /* Nav bar Start */
  .menu-btn {
    height: 30px;
    width: 30px;
    padding: 5px;
    overflow: hidden;
    text-align: center;
    align-items: center;
    margin: 15px 0px 0px 15px;
    border-radius: 5px;
  }
  .btnMenu {
    height: 20px;
    width: 20px;
    margin: 0px auto;
  }
  /* Nav bar End */

  /* Home Start */
  .home-section {
    padding: 100px 20px 0px 20px;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.603);
  }
  .hero-heading {
    font-size: 24px;
    font-weight: 500;
  }
  .hero-profession {
    font-size: 20px;
    font-weight: 600;
  }
  .brief-Info {
    font-size: 13px;
    font-weight: 400;
  }
  .hero-learnMore {
    font-size: 15px;
    font-weight: 400;
  }
  /* Home End */

  /* About Start */
  .about-section {
    background-color: rgba(0, 0, 0, 0.719);
    padding: 50px 10px 10px 10px;
    gap: 6px;
    height: 100vh;
  }
  .about-section h2 {
    font-size: 25px;
  }
  .about-section p {
    font-size: 12px;
    margin-top: 10px;
    word-spacing: 0px;
    overflow: hidden;
  }
  /* About End */

  /* contact Start */
  .contact-section {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.719);
    padding: 80px 20px 0px 20px;
    gap: 15px;
  }
  .contact-section h1 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 6px;
  }
  .contact-section p {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .contact-form input,
  .contact-form textarea {
    height: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 5px 10px;
  }
  .form-submit-btn {
    padding: 5px;
    font-size: 0.8rem;
    border-radius: 0.2rem;
  }
  /* Contact End */

  /* Projects Start */
  .project-section {
    width: 100%;
    padding: 50px 0px 10px 0px;
  }

  .project-heading {
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 8000;
    margin-bottom: 20px;
  }

  .project-container {
    gap: 10px;
  }

  .project-card {
    height: 200px;
    width: 100%;
    overflow: hidden;
  }

  .project-content {
    padding: 20px 20px 20px 20px;
    gap: 5px;
  }

  .project-title {
    font-size: 24px;
    font-weight: 200;
  }

  .project-info {
    margin: 10px;
    font-size: 12px;
  }

  .project-btn-grp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .project-btn {
    height: 20px;
    font-size: 12px;
  }
  /* Projects End */

  /* Blog Start */
  .blogs-section {
    background-color: rgba(0, 0, 0, 0.719);
    margin-top: 0px;
    padding: 100px 10px 0px 10px;
    gap: 20px;
  }
  .blogs-section h1 {
    font-size: 30px;
  }
  .blogs-section h2 {
    font-size: 12px;
  }
  /* Blog End */

  /* Not Found Start */
  .PageNotFound {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.719);
    font-weight: 600;
    font-size: 1rem;
  }
  /* Not Found End */
}
